@font-face {
  font-family: "ApercuMonoProBold";
  src: local("ApercuMonoProBold"),
   url("./fonts/ApercuMonoProBold.ttf") format("truetype");
  font-weight: bold;
  }

body {
  height: 100%;
  margin: 0;
  font-family: ApercuMonoProBold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000 url("./img/background.png") no-repeat;
  
}

code {
  font-family: ApercuMonoProBold;
}

.container {
  font-family: "Light";
}

